*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    box-sizing: border-box;
}
body {
    background: #011627;
    color: #fff;
}
.container{
    margin: 10%;
    width: 100%;
    max-width: 700px;
}
.display{ /* Champ du mot de passe */
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    background: #2b5648;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 18px;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #7fffd4;
}
.container h1{
    font-weight: 500px;
    font-size: 48px;
}
.container h1 span{
    color: aquamarine;
    font-weight: 100;
}
.display input{
    background-color: #2b5648;
    color: #7fffd4;
    border: 0px;
    outline: 0px;
    font-size: 18px;
}
.container button img{
    width: 16px;
    margin-right: 24px;
}
.container button{
    border: 0px;
    outline: 0px;
    background: white;
    color: #011627;
    font-size: 18px;
    font-weight: 300px;
    align-items: center;
    justify-content: center;
    padding: 14px 24px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out
}
.container button:hover{
    background-color: #7fffd4;
    box-shadow: 0 0 0 2px #fff
    color: #011627;
    transform: scale(0.95);
    transition: 0.2s ease-in-out;

}
.container button:active{
    box-shadow: 0 0 96px 1px #fff;
    transition: 0.1s ease-in-out;
}